/* animation for in-game sprites in game.html */

/* body {
    background-image: url("media/big-bg-cards.png");
    background-size: 100%;
} */

#dino-game {
    background-color: rgb(239, 231, 220);
    background-size: 2svw 100svh;
    z-index: -1;
}

/* header music toggle buttons color change */
#music-toggle.red {
    background-image: url(../media/red-music-on-button.png);
}

#music-toggle.red.muted {
    background-image: url(../media/red-music-off-button.png);
}

/* small faraway background mountains */
#dino-game .sliding-layer:first-child {
    background-image: url(../media/red-hindground.png);
    background-position-y: 60%;
}

/* mid-ground mountains */
#dino-game .sliding-layer:nth-child(2) {
    background-image: url(../media/red-midground.png);
}

img.obstacle,
img.goal,
#dino-game .sliding-layer:nth-child(2) {
    animation-duration: 20s;
}

/* big closeup foreground grass */
#dino-game .sliding-layer:nth-child(3) {
    background-image: url(../media/red-foreground.png);
    background-position: bottom;
    margin-bottom: -10%;
    animation-duration: 12s;
    z-index: 10;
}

h3 {
    font-size: 15lvw;
    margin-top: 10lvw;
}

#avatar {
    width: 100px;
    height: 100px;
    background-image: url(../media/dog.png);
    background-size: 100%;
    position: absolute;
    bottom: 8svw;
    left: 30svw;
    /* ease out-in quadratic to imitate gravity */
    animation: walk 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate infinite;
}

img.obstacle,
img.goal {
    position: absolute;
    bottom: 6svw;
    left: auto;
    animation-iteration-count: 1;
}

img.obstacle {
    right: -100px; /* so animation starts hiding behind the screen */
    height: 100px;
}

img.goal {
    right: -300px; /* so animation starts hiding behind the screen */
    height: 300px;
    width: 300px;
}

#avatar.jump {
    /* ease out-in quadratic to imitate gravity */
    animation: jump 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate 2;
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 0.7, 1);
    }
    100% {
        transform: translate3d(0, -120%, 0) scale3d(1, 1.1, 1);
    }
}

@keyframes walk {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -10%, 0);
    }
}
