/* animation and specific styles for index.html */

.sliding-layer {
    background-size: 300svw;
    background-position: 0% 100%;
}

/* small faraway background mountains */
.sliding-layer:first-child {
    background-image: url("media/hindground.png");
    background-size: 310svw;
    animation-duration: 150s;
}

/* mid-ground mountains */
.sliding-layer:nth-child(2) {
    background-image: url("media/midground.png");
    background-position: 10% 90%;
    animation-duration: 100s;
}

/* snow-like thing in the background */
.sliding-layer:nth-child(3) {
    background-image: url("media/snow-ish-thing.png");
    animation-duration: 8s;
}

/* big closeup background cards */
.sliding-layer:nth-child(4) {
    background-image: url("media/foreground-pixel-cards.png");
    animation-duration: 50s;
}

#sound-menu {
    text-align: center;
    background-color: black;
    height: 100svh;
}

/* #login-view {

} */
