header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 266px;
    display: flex;
    align-items: start;
    z-index: 1;
}
/* 
header input[type='image'] {
    background-color: transparent;
    height: 50px;
    width: 50px;
}

header input[type='image'] {
    
    object-position: -10px 34px;
    object-fit: cover;
    height: 154px;
    width: 249px;
    background-size: 1920px;
    margin: 5px 0px;
} */