/*
  NAME: Pearl Chen
  DATE: Apr 24, 2023

  style page for milestone.html
 */

body,
button,
select,
input,
.card p {
    text-align: center;
    font-size: 12pt;
    font-family: Helvetica, Verdana, sans-serif;
}

main {
    width: 80%;
    margin: auto;
}

button,
select {
    padding: 8px;
    background-color: white;
    border: 2pt solid black;
}

h2,
.card p {
    font-size: 16pt;
}

h2 {
    text-decoration: underline;
}

#start-btn {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#menu-view > article,
#details-bar {
    background-color: #6f77ed;
    border-radius: 0.35em;
    border: 5pt solid black;
    color: white;
}

#details-bar,
.card,
#board {
    display: flex;
    justify-content: space-evenly;
}

#details-bar,
.card {
    align-items: center;
}

#details-bar {
    background-color: black;
    border-radius: 0.5em 0.5em 0 0;
    font-size: 14pt;
}

.hidden,
.hide-imgs img {
    display: none;
}

.card {
    width: 220px;
    height: 95px;
    border: 0.35em solid black;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card p {
    font-weight: bold;
}

.card > img {
    height: 85%;
}

.card.selected {
    box-shadow: 6px 6px #636363;
}

#board {
    border: 5px solid black;
    border-top: none;
    flex-wrap: wrap;
    padding: 20px;
}
