/* Big Shoulders Display, Light 200 */
/* Be Vietnam Pro, Black 900 Italic, Thin 100 Italic */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100;1,900&family=Big+Shoulders+Display:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    color:antiquewhite;
    font-style: italic;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

body {
    min-height: 100svh;
    overflow-x: hidden;
    background-image: linear-gradient(black, rgb(51, 0, 9));
}

/* Gradient rectangle */
header > div {
    width: 100%;
    height: 50svh;
    background-image: linear-gradient(black 87%, rgba(0, 0, 0, 0));
    position: absolute;
    padding: 0;
    z-index: 3;
}

header > a, header > a:visited {
    font-size: 140%;
    font-weight: 100;
    position: fixed;
    margin: 2% 5%;
    color: antiquewhite;
    z-index: 2;
}

#title {
    padding-top: 45svh;
}

#title > * {
    margin: 0 -20% 50svh;
}

.foreground {
    position: absolute;
    top: 200svh;
    z-index: 1;
}

.foreground > img {
    width: 100%;
}

h1, h2, h3, button {
    text-align: center;
}

h1 {
    letter-spacing: 2rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 300%;
}

h2 {
    font-size: 2500%;
}

h2, h3, button {
    letter-spacing: 0.7rem;
    font-weight: 900;
}

h3, button {
    text-align: left;
    font-size: 1500%;
    margin-top: 0;
    line-height: 90%;
}

p {
    padding: 30%;
    margin-top: -10%;
    padding-bottom: 0%;
    margin-bottom: -10%;
}

h3 > a {
    font-size: 80%;
}

.bar {
    margin: 20% -5% 0%;
    display: flex;
    padding-right: 6%;
    align-items: center;
    justify-content: end;
}

.tab {
    background-color: black;
    padding-top: 3%;
}

.pic {
    width: 20%;
    top: 40%;
}

#container {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action {
    top: 60%;
}

button {
    text-transform: uppercase;
    background-color: black;
    border: none;
    text-align: center;
    color:brown;
    font-size: 300%;
    margin: 0.5%;
}

button:hover, a:hover {
    color: brown;
    background-color: darkblue;
}