/*
 * Author: TODO
 * CS 132 Spring 2023
 * Date: TODO
 *
 * TODO: Remove provided comments before submitting.
 */

/* Provided starter: styles for all flex containers */
<selectors> {
  display: flex;
  justify-content: space-between;
}

/* Provided starter: styles for flex containers that are in column layout */
<selectors>  {
  flex-direction: column;
}
