/*
 * Author: Pearl Chen
 * CS 132 Spring 2023
 * Date: 4/28/2023
 *
 * This is the styles.css page for the webpage that introduces a brief history of HTML 
   and the internet using various types of HTML tags and responsive layout methods. It
   contains all the style and layout commands to make the page look nice.
 */

/* Font: ubuntu 400 & 700 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body,
h1,
nav a,
ul a {
  margin: 0;
}

body {
  background-color: #c9e4ca; /* light green color */
  font-family: "Ubuntu", Verdana, sans-serif;
}

body,
#examples > div,
#html-comparison > div {
  flex-direction: column;
}

main,
footer,
#examples,
#examples > div,
nav ul,
#html-comparison,
#html-comparison > div,
header h1,
div.main-structure {
  display: flex;
}

header h1,
main,
footer,
#examples,
#examples > div,
#html-comparison,
div.main-structure {
  justify-content: space-between;
}

main,
nav a,
ul a,
#html-comparison div {
  padding: 5px;
}

main > section,
#examples {
  padding: 10px;
}

header h1,
footer {
  align-items: center;
}

h1,
footer,
aside {
  padding-left: 10px;
  padding-right: 10px;
}

h1,
footer {
  height: 60px;
}

footer {
  padding-bottom: 10px;
}

aside {
  min-width: 200px;
  margin-left: 10px;
}

p {
  line-height: 1.4rem;
}

h1,
h2,
code,
p#fake-h1,
main > :not(aside) a,
main > :not(aside) a:visited,
footer * {
  color: #3b6065; /* dark green color */
}

h1,
h2 {
  font-weight: 400;
}

#examples {
  margin: 5px;
}

#examples > div,
#html-comparison > div {
  width: 45%;
}

#examples > div {
  padding-left: 2%;
  padding-right: 2%;
}

#examples > div > p,
figcaption,
blockquote {
  font-style: italic;
}

#examples img {
  width: 160px;
}

pre {
  background-color: #d3d3d3; /* grey */
  overflow-x: scroll;
}

p#fake-h1,
code {
  font-weight: bold;
}

p#fake-h1 {
  font-size: 18pt;
  margin-bottom: 0;
}

code {
  font-size: inherit;
  color: inherit;
  font-family: "Courier New", Courier, monospace;
}

a {
  /* removing underline */
  text-decoration: none;
}

aside a:visited,
nav a,
nav a:visited {
  color: #c9e4ca; /* light green color */
}

nav ul {
  list-style-type: none; /* Remove bullets */
}

nav li {
  margin-left: 15px;
}

header nav,
aside,
#examples {
  background-color: #3b6065; /* dark green color */
}

#examples > div,
main > section {
  background-color: #fdfdfd; /* almost white color */
}

aside * {
  color: #fdfdfd; /* almost white color */
}

figure {
  float: right;
}

figure#xkcd {
  width: 50%;
  max-width: 400px;
}

figure#w3c {
  width: 120px;
  margin: 0 20px 20px;
}

img {
  width: 100%;
}

blockquote {
  border-bottom: 2px solid black;
}

#html-comparison > div div {
  border: 2px solid black;
}

figure#tim-quote > figcaption,
#examples > div > p {
  text-align: right;
}

#html-comparison {
  text-align: center;
}

#html-comparison > div {
  border: 4px solid black;
  height: 300px;
}

div.main-structure {
  flex-direction: row;
  flex-grow: 1;
}

div.main-structure > div {
  width: 40%;
}
